---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import FitnessPage from "../components/FitnessPage.astro";
---

<Layout
  title="Colophon - Andrei Stoica Portfolio"
  description="Andrei Stoica's Colophon"
>
  <!-- Nav takes 2 columns on desktop (lg+), full width on mobile -->
  <div class="col-span-12 lg:col-span-2 lg:h-screen">
    <Nav />
  </div>
  <!-- Colophon takes remaining 10 columns on desktop, full width on mobile -->
  <div class="col-span-12 lg:col-span-10 lg:overflow-y-auto lg:h-screen">
    <FitnessPage />
  </div>
</Layout>
