---
import MarkdownPage from "./MarkdownPage.astro";
import MediaGallery from "./MediaGallery.astro";
import raceContent from "../md-pages/race.md?raw";
import outdoorContent from "../md-pages/outdoors.md?raw";
import MarkdownLayout from "../layouts/MarkdownLayout.astro";

const hikeImages = [
  "sister-1.jpeg",
  "sister-2.jpeg",
  "sister-3.jpeg",
  "sister-4.png",
];

const raceImages = [
  "bronx-1.jpg",
  "bronx-2.jpg",
  "cherry-1.jpeg",
  "cherry-2.png",
  "newport.jpeg",
  "queens.jpeg",
  "staten-island.jpeg",
];
---

<MarkdownLayout title="Fitness">
  <div class="space-y-8">
    <MarkdownPage content={raceContent} />
    <section>
      <h2 class="text-xl font-medium text-[--color-text-primary] mb-3">
        Images
      </h2>
      <MediaGallery
        images={raceImages}
        experienceName="Races"
      />
    </section>
    <MarkdownPage content={outdoorContent} />
    <section>
      <h2 class="text-xl font-medium text-[--color-text-primary] mb-3">
        Images
      </h2>
      <MediaGallery
        images={hikeImages}
        experienceName="Outdoors"
      />
    </section>
  </div>
</MarkdownLayout>
