---
import ExperienceTable from "./ExperienceTable.astro";
const personalStatement =
  "Builder with a background in product, VC, design, and full-stack development. I’m especially interested in how AI can help people reflect, connect, express themselves, and build better habits. I work best when I can take a strong idea kernel and shape it by iterating quickly with others. Lately I’ve been exploring reflective AI tools with a focus on simple interfaces that feel intuitive and well-considered. I care about how things feel and the systems they create, not just how they function.";
---

<div class="flex flex-col gap-8 p-4">
  <section>
    <p class="text-sm lg:text-md pt-3 max-w-3xl text-pretty">
      {personalStatement}
    </p>
  </section>
  <ExperienceTable />
</div>
