---
import ExperienceTable from "./ExperienceTable.astro";
const personalStatement =
  "is interested in how technology can help people express themselves the physical world. Having pursued an individualized major titled 'Human Computer Interaction and Ethical Innovation Systems,' I have experience in various applications of design, product management, venture capital, and political economy. I am curious about work that spans these domains, as well as these themes.";
---

<div class="flex flex-col gap-12 p-8">
  <section>
    <p class="text-md max-w-2xl text-pretty">{personalStatement}</p>
  </section>
  <ExperienceTable />
</div>
