---
import type { Project } from "../../lib/types";

interface Props {
  project: Project;
  displayText: string;
}

const { project, displayText } = Astro.props;
---

<a
  href={`/projects/${project.id}`}
  class="project-link inline-block text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-300 underline decoration-dotted underline-offset-2 hover:decoration-solid transition-all duration-200"
>
  {displayText}
</a>

<style>
  .project-link:hover {
    text-decoration-thickness: 2px;
  }

  .project-link:focus {
    outline: 2px solid var(--color-accent, #3b82f6);
    outline-offset: 2px;
    border-radius: 2px;
  }

  .project-link:focus:not(:focus-visible) {
    outline: none;
  }
</style>
