---
const { title } = Astro.props;
---

<main class="py-4 gap-2 flex flex-col">
  <div class="text-2xl font-bold">
    {title}
  </div>
  <div class="w-full text-pretty">
    <slot />
  </div>
</main>
