---
import BackButton from "../components/BackButton.astro";

const { title } = Astro.props;
---

<main class="p-4 lg:px-8 lg:mt-3.5">
  <div class="w-full lg:max-w-4xl">
    <BackButton />
    <slot />
  </div>
</main>
