---
import Layout from "./Layout.astro";
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <!-- Nav takes 2 columns on desktop (lg+), full width on mobile -->
  <div class="col-span-12 lg:col-span-2 lg:h-screen w-full">
    <Nav />
  </div>
  <!-- Content takes remaining 10 columns on desktop, full width on mobile -->
  <div class="col-span-12 lg:col-span-10 lg:overflow-y-auto lg:h-screen">
    <slot />
  </div>
</Layout>
